@charset "UTF-8";
myPageBody{
	margin: 0px;
	padding: 0px;
}
nav{
	margin-top:10px;
	width:100%;
}

#bodyBar nav a {
	margin-left : 18px;
	margin-right : 18px;
	align-items: center;
	font-size: 21px;
	margin-top: 12px;
	color : white;
	text-decoration-line: none;

}
#horizontal-underline{
	position: absolute;
    left:0;
    height: 7px;
    border-radius: 2px;
    transition: 0.7s;
    background: white;
    margin-top:1px;
}
#myPageMain {
	background: #101322;
	font-family: RobotoInCjk, "Noto Sans KR", "Apple SD Gothic Neo",
		"Nanum Gothic", "Malgun Gothic", sans-serif;
}

.main {
	background: rgb(28, 34, 62);
	width: 50%;
	margin: 0 auto;
}

#myPageHeader {
	height: 200px;
	margin-bottom: 5px;
	position: relative;
}

#myPageBody {
	height: 500px;
}

#myPageFooter {
	height: 200px;
}

#profileImg {
	border-radius: 30%;
	background: white;
	height: 120px;
	width: 120px;
	float: right;
	margin-right: 20px;
	margin-top: 60px;
}

#bodyBar {
	height: 48px;
	display: flex;
	justify-content: center;
}
.myInfo{
	background: white;
}
.myPageBody{
	display: flex;
}
.content{
	margin-top : 15px;
	width: 100%;
	height: 100%;
	display: flex;
}

#myPageMenu{
	margin-top : 0px;
	display: flex;
	justify-content: center;
}
.refund{
	border: none;
	background: none;
	color:white;
	
}
.dateCol{
	width : 20%;
}
.content table{
	width:90%;
	margin-left : 5%;
	justify-content: center;
}
.content table th{
	border-bottom : 1px grey solid;
}
.content table td{
	border-bottom : 1px grey solid;
}
.content table tr{
	border-bottom : 1px grey solid;
}

