@charset "UTF-8";

/*전체 페이지 기본 속성(default) 변경 금지*/
html, body{
	margin: 0 auto;
}

body{

	font-family: RobotoInCjk, "Noto Sans KR", 
	"Apple SD Gothic Neo", "Nanum Gothic", 
	"Malgun Gothic", sans-serif;
	background:#f3f3f3;
	color:#333;

}


ul,li{
	margin:0px;
	padding:0px;
}

a{
	text-decoration: none;
	cursor: pointer;
	color: #fff;
}

a:hover{
    color: #fff;
}


.f_left{
	float: left;
}

.f_right{
	float: right;
}

.clear{
	clear: both;
}

p{
	margin:0 auto;
}




/*관리자 css*/
.admin_content{
	width: 100%;
    display: flex;
	padding-top:60px;
	min-height: 100vh;
}

aside{
	width:20%;;
	background-color: #232a31;
	float: left;
	padding:1% 0% 1% 0%;
	box-sizing: border-box;
}

section{

	width:80%;
	float: left;
	padding:40px 40px 20px 40px;
	box-sizing: border-box;

}

header{
	width:100%;
	height:60px;
	background:#101322 ;
	position: fixed;
	z-index: 99;
}


header h2{
	font-weight: 600;
}


/*admin 메뉴 css*/
#admin_menu{
	color:#fff;


   .admin_menu_box{
      line-height: 50px;
   }
   
   .admin_menu_box img{
      margin-left: 20px;
   }
   
   
   .admin_menu_box_hover{
      background: #fff;
   }
   
   .admin_menu_box_hover a{
      color:#232a31
   }
   
   .admin_menu_box_in{
      line-height: 50px;
      background:#27363f;
      padding:0px 50px 0px 30px;
      color:#fff;
   
   }
   
   .admin_menu_box_in a:hover{
      color:#fff;
      text-decoration:underline;
   }
   
   .admin_menu_box2{
      line-height: 50px;
   }

}

/*영화 관리 css*/
#movieList{

   color:#222;
   
   .movieList_top{
      height:65px;
      background: #0f1926;
   }
   
   .moviList_content{
      padding:50px 50px 50px 50px;
   }
   
   .content_box{
      background-color: #fff;
   }

}



/*영화 등록 css*/
#movieWrite{
	.movieWrite_box{
		margin-top:10px;
	}
	.movieWrite_box p{
		padding: 0px 5px 5px 5px;
		font-weight: 500;
	}
	
	.movieWrite_box a{
		color:#333;
	}
	
	.movieWrite_box a:hover{
		text-decoration: underline;
	}
	.movieWrite_box1{
		border-top:1px solid #b9b9b9;
		border-left: 1px solid #b9b9b9;
		border-right: 1px solid #b9b9b9;
	}
	
	.movieWrite_box_in{
		overflow: hidden;
		color: gray;
		display: flex;
		border-bottom:1px solid #b9b9b9;
		border-collapse: collapse;
		line-height: 25px;
		
	}
	
	.movieWrite_box_in_left{
		width:20%;
		background-color: #e0e0e0;
		text-align: center;
		vertical-align:middle;
		float: left;
		order: 1;
		padding:10px 10px 10px 10px;
		
	}
	
	.movieWrite_box_in_right{
		width: 80%;
		padding:1% 0.5% 1% 0.5%;
		float: left;
		order: 2;
	}
	
	.info_txt{
		border: 0px;
		outline: none;
		background-color: #f3f3f3;
	}
	
	.movie_btn{
		position: relative;
		top:20px;
		border: 0;
		float: right;
	}
	
	/*하단 버튼*/
	
	.btn_grop{
		width:180px;
		margin:0 auto;
		padding-top:30px;
	}
	
	.btn_grop_input{
		width:80px;
		height:35px;
		background:#0d6efd ;
		border: 0px;
		color:#fff;
		margin: 0px 5px 0px 0px;
		border-radius: 8px;
	}

	.btn_grop_input:hover {
		background:#0b5ed7;
	}

}