@charset "UTF-8";


#movieDetail{
	
	/* 영화 head 부분 */
	.movie_top{
		margin:0 auto;
		width:100%;
		height: 400px;
		overflow: hidden;
		position: relative;
	}
	
	.movie_top img{
		width:100%;
		vertical-align: middle;
		
	}
	
	.movie_info_txt{
		width: 100%;
		position: absolute;
		top: 250px;
		color: #ffffff;
	}
	
	
	.movie_info_txt h1{
		font-size: 36px;
	    font-weight: 700;
	    line-height: 36px;
	    margin-left: 40px;
	}
	
	.movie_info_txt p{
		width:90%;
		font-size: 15px;
   		line-height: 18px;
   		margin:5px 10px 0px 40px;
	}
	
	



	/* 영화 상세 설명 부분*/
	
	.movie_info{
		width: 1300px;
		height:600px;
		overflow: hidden;
		margin: 0 auto;
		padding:80px 0px 80px 0px;
		
	}
	
	.movie_info_left{
		width:300px;
		float: left;
		
	}
	
	.movie_info_left img{
		width:100%
	}
	
	.movie_info_right{
		width:1000px;
		float: left;
		
	}
	
	.movie_info_grade{
		width:100%;
		margin-left:40px;
		border-top:1px solid #606060;
		font-size: 30px;
		line-height: 80px;
		font-weight: 800;
	}	
	
	
	.movie_info_detail{
		width:100%;
		font-size: 15px;
   		margin-left:40px;
   		padding-top:15px;
		line-height: 25px;
		border-top:1px solid #606060;
		font-size: 15px;
		font-weight: 500;
		
	}
	
	.movie_info_detail p{
		margin-top:10px;
	}
	
	.movi_info_btn{
		height: 70px;
		margin: 30px 0px 0px 40px;
	}
	
	.movie_buy_btn{

		width: 250px;
		height: 50px;
		background:#13C181;
		text-align: center;
		line-height: 50px;
		float: left;
	}
	
	.movie_pick_btn img{
		width: 60px;
		height: 50px;
		margin-left: 20px;
		float: left;
		
	}
	

	
	/*영화 출연진 부분*/
	.movie_actor{
		width: 90%;
		margin: 0 auto;
		padding:20px 20px 20px 20px;
		font-weight: 500;
		border-top: 1px solid #222328;
	}
	
	.movie_box_size{
		width: 100%;
		margin:0 auto;	
	}
	
	.box_control{
		overflow: hidden;
	}

	.movie_actor_box{
		width:19%;
		padding: 0.5% 0.5% 0.5% 0.5%;
		height: 100px;
		float: left;
		overflow: hidden;
	}
	
	.movie_actor_box1{
		width:70px;
		float: left;
		height: 100px;
	}
	
	.movie_actor_box1 img{
		width: 100%;
		border-radius: 10px;
		margin-top:5px;
	}
	
	.movie_actor_box2{
		width: 124px;
		float: left;
		margin-left: 10px;
		height: 80px;
		padding: 13px 0px 13px 0px;
	}
	
	
	.movie_actor_box2 p{
		margin:0px;
		padding-top:2px ;
	}
	
	
	.actor_name{
		color:#fff;
		
	}
	
	.moreActorBtn{
		height:60px;
		text-align: center;
		cursor: pointer;
		line-height: 60px;
		font-size: 15px;
		font-weight: 600;
		clear: both;
	}
	
	
	.moreActorBtn:hover{
		background-color:#9099a7;
	}	
	
	
	/*영화 예고편 부분*/
	
	.movie_video{
		width: 90%;
		margin: 0 auto;
		padding:30px 0px 20px 0px;	
	
	}
	
	.movie_tit1{
		width: 80%;
		padding: 10px;
		border-top: 1px solid #414141;;		
		border-bottom: 1px solid #414141;	
		font-weight: 500;
		font-size: 20px;
		line-height: 30px;
		float: left;
	}
	
	
	.movie_tit2{
		width: 20%;
		padding: 10px;
		border-top: 1px solid #414141;;		
		border-bottom: 1px solid #414141;	
		font-weight: 500;
		font-size: 15px;
		line-height: 30px;
		float: left;
		text-align: right;
	}
	
	
	.clear{
		clear:both;
	}
	
	.movie_player{
		width:100%;
		height: 800px;
		margin:0 auto;
		padding:30px 0px 30px 0px;
	}
	
	.movie_player iframe{
	  width: 100%;
	  height: 100%;
		
	}

/*영화 코멘트 css*/
	.movie_review{
		width:90%;
		margin:0 auto;
	}
	
	.movie_review_box{
		overflow: hidden;
		padding: 10px 0px 10px 0px;
	}
	
	.movie_review_conbox{
		width:24%;
		height: 300px;
		margin:0% 0.5% 0% 0.5%;
		border-radius: 20px;
		background:#232c46;
		float: left;
	}
	
	.movie_review_conbox1{
		width:95%;
		height:50px;
		padding:20px 10px 10px 10px;
		border-bottom: 1px solid #414141;;	
		margin:0 auto;
	}
	
	.movie_review_conbox2{
		width:95%;
		height:200px;
		padding:20px 10px 10px 10px;
		border-bottom: 1px solid #414141;;	
		margin:0 auto;
	}

	.movie_review_conbox3{
		width:95%;
		height:50px;
		padding:10px 10px 10px 10px;
		margin:0 auto;
	}	
	
}



#movieList{
	
	
	.moviListBox{
		width:95%;
		overflow: hidden;
		padding:30px 10px 30px 10px;
		margin: 0 auto;
	
		
	}
	
	.movieItemBox{
		width:15%;
		float: left;
		margin:0% 0.82% 0% 0.82%;
		cursor: pointer;
	}
	
	.movieItemBox:hover{
	  transform: translateY(-20px);
	}	
	
	.movieImg{
		width:100%;
		position: relative;
	}
	
	.movieImg img{
		width:100%;
	}
	
	.movieItemBoxML{
		margin-left: 1%;
	}
	
	.movieItemBox_info1{
		font-size: 16px;
		font-weight: 700;
		padding: 10px 2px 10px 2px;
		
	}
	
	
	.movieItemBox_hover{
		width:100%;
		background: rgba(20, 20, 20, 0.8);
	    position: absolute;
	    top: 0;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    z-index: 1;
	    padding: 30px 20px 30px 20px;
	}
	
	.movieItemBox_hover_info{
		width:100%;
	}
	
	.movieItemBox_hover_tit{
		font-size: 23px;
		font-weight: 800;
		overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        line-height: 1.2;
        text-align: left;
        word-wrap: break-word;
        display: -webkit-box;
        -webkit-line-clamp: 2 ;
        -webkit-box-orient: vertical;
        margin-bottom: 10px;
	}
	.movieItemBox_hover_genre{
		font-size: 15px;
		margin-bottom: 10px;
	}
	
	.movieItemBox_hover_txt{
		font-size: 15px;
		font-weight: 500;
		overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        line-height: 1.5;
        text-align: left;
        word-wrap: break-word;
        display: -webkit-box;
        -webkit-line-clamp: 5 ;
        -webkit-box-orient: vertical;		
	}
	
	
	/*리스트 없을때, 검색결과 없을 때 제공 화면 css*/
	.moviListAlert{
		padding: 5% 0px 5% 0px;
		margin: 0px;
		background-image:url('../images/login-bg.png');
		background-size: cover;
		height: 85vh;
	}
	
	.moviListAlertInfo{
		width:50%;
		height: 90%;
		background: #fff;
		margin:0 auto;
		border-radius: 50px 50px 50px 50px;
		background: rgba(255, 255, 255, 0.8);
		font-size:1.3em;
		font-weight: 600;
		text-align: center;
		color:#363636;
	}
	
	.moviListAlertInfo{
		margin:0px auto;
		padding: 7% 5% 7% 5%;
	}
	
	.moviListAlertInfo1 img{
		width:15%
	}
	
	.moviListAlertInfo2 p{
		padding-top:10px;
	}
	
	/*검색 결과 css*/
	.totalSerchTxt{
		font-size: 30px;
		font-weight: 600;
		text-align: center;
		margin:20px 0px 30px 0px;
	}
}